<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a
        href="https://dribbble.com/shots/20566686--TEMPLATES-PHOTOGRAPHY-HTML"
        target="_blank"
        >Link</a
      >
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img
          src="assets/images/photography-header.jpg"
          alt="Desktop photography landing page design"
        />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a
            href="https://dribbble.com/shots/20566686--TEMPLATES-PHOTOGRAPHY-HTML"
            target="_blank"
            >Photography Portfolio</a
          >
        </h1>
      </div>
      <div class="desc-p">
        <p>
          A minimalist portfolio website that collects a collage of images and
          displays them as the backdrop to create a unique experience for the
          end user. Featured images/stories are highlighted in their own grid,
          leading to external links for user conversion.

          <br /><br />
          This template is available for development, which will take an
          estimated 45 hours to complete. Any personal style changes or edits
          can be discussed and worked on with me.
          <a href="mailto:blazewaynesmith@gmail.com">Contact me</a> to discuss
          hourly rates. <br /><br />More specifics about this design are on my
          <a
            href="https://dribbble.com/shots/20566686--TEMPLATES-PHOTOGRAPHY-HTML"
            target="_blank"
            >Dribbble</a
          >
        </p>
        <app-contact-small></app-contact-small>
      </div>
    </div>
  </div>
</section>
