<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://www.instagram.com/gen.fram/" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/genfram-header.jpg" alt="Gen Fram light logo" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://www.instagram.com/gen.fram/" target="_blank"
            >Gen Fram</a
          ><span class="role"> - Owner</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Gen Fram is the current brand I have been solo developing since early
          2022. Currently the website is in production and some social media
          posting has been done. Logos and other styling have been uploaded on
          the instagram. You can see more about the logo design
          <a
            href="https://dribbble.com/shots/20518322-2023-GEN-FRAM-LOGOS"
            target="_blank"
            >here</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>
