<header class="header-home">
  <div class="container landing">
    <div class="title-wrapper">
      <div class="title-content">
        <h1 class="typography">
          <span
            >I LIKE TO BE <strong>CREATIVE</strong>. I FEEL LIKE I’M CONSTANTLY
            <strong>WORKING</strong> TOWARDS AN END GOAL. PUT ME IN THE RIGHT
            SPACE AND <strong>I WILL DO</strong> GREAT THINGS. THIS IS MY
            <strong>PERSONAL SITE</strong> WHERE I CAN SHOW COOL PROJECTS I
            MAKE.</span
          >
          <div class="break"></div>
          <a class="btn btn-talk"> <span>LET'S CHAT</span> <i>➔</i> </a>
        </h1>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="container">
      <div class="bottom-wrapper">
        <a class="scroll-hint">Scroll down</a>
        <div class="description">
          <p>
            Don’t worry I don’t yell like that in person. As a matter of fact I
            do the opposite. I get passionate about the way I feel sometimes :)
          </p>
          <span>2022©</span>
        </div>
      </div>
    </div>
  </div>
</header>
