<header class="header-home">
  <div class="container landing">
    <div class="title-wrapper">
      <div class="title-content">
        <h1 class="typography">
          <span
            >I like to be creative. I feel like I'm constantly working towards
            an end goal. Put me in the right space and I will do great work.
            This is my personal site where I can show cool things I make.
          </span>
          <div class="break-heading"></div>
          <a class="btn-projects" (click)="scrollPosition('works')"
            ><span>MY PROJECTS</span><i>➔</i></a
          >
        </h1>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="container">
      <div class="bottom-wrapper">
        <a class="scroll-hint" (click)="scrollPosition('works')">Scroll down</a>
        <div class="description">
          <p>UPDATE//02-05-2023: WEB TEMPLATES FOR SALE</p>
          <span>2022©</span>
        </div>
      </div>
    </div>
  </div>
</header>
