<header class="header-home">
  <div class="container landing">
    <div class="title-wrapper">
      <div class="title-content">
        <h1 class="typography">
          <span
            >I LIKE TO BE <strong>CREATIVE</strong>. I FEEL LIKE I’M CONSTANTLY
            <strong>WORKING</strong> TOWARDS AN END GOAL. PUT ME IN THE RIGHT
            SPACE AND <strong>I WILL DO</strong> GREAT THINGS. THIS IS MY
            <strong>PERSONAL SITE</strong> WHERE I CAN SHOW COOL THINGS I MAKE.
          </span>
          <div class="break-heading"></div>
          <a class="btn-projects" (click)="scrollPosition('works')"
            ><span>MY PROJECTS</span><i>➔</i></a
          >
        </h1>
      </div>
    </div>
  </div>
  <div class="landing-footer">
    <div class="container">
      <div class="bottom-wrapper">
        <a class="scroll-hint" (click)="scrollPosition('works')">Scroll down</a>
        <div class="description">
          <p>v001. This website will adapt with me as I learn new things.</p>
          <span>2022©</span>
        </div>
      </div>
    </div>
  </div>
</header>
