<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://stapledhills.com/" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/stapledhills-header.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://stapledhills.com/" target="_blank">Stapled Hills</a
          ><span class="role"> - Owner</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Stapled Hills was my second clothing brand. I saw it as a step up from
          infst. I wanted Stapled Hills to tell a story and have each piece
          connect with one another. The brand needed to have a piece of me
          incorporated into it so all of the designs were based around pixel art
          because I grew up playing video games. this was also around the time I
          got into web design. The website was designed by me. This is
          technically the first site I designed. I will always love Stapled
          Hills. When it was started I was 20 years old and I really tried hard
          to make everything for it look good. I worked with professionals to
          sew on tags, screenprint, clean up my designs. I also purchased higher
          quality blanks from rue porter and LA Apparel. That was my perception
          of what a high quality clothing brand included at the time.
        </p>
      </div>
    </div>
  </div>
</section>
