<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://stapledhills.com/" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/stapledhills-header.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://stapledhills.com/" target="_blank">Stapled Hills</a>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Stapled Hills was my second clothing brand. I saw it as a step up from
          infst. I wanted Stapled Hills to tell a story and have each piece
          connect with one another. Also wanted the brand to had to have a piece
          of me incorporated into it so all of the designs were based around
          pixel art because I grew up playing video games. this was also around
          the time I got into web design. I created the website design myself
          and paid someone to make it because I had no idea how to code with
          ruby on shopify. I will always love stapled hills. I was 20 years old
          and I really tried so hard to make everything for it look good. I paid
          professionals to sew on tags, screenprint, clean up my designs. I also
          purchased higher quality blanks from rue porter and LA Apparel. at
          least that was my perception of high quality at the time.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-wrapper section-right">
        <div class="section-text">
          <h5>Brand Identity</h5>
          <p>
            There was a few elements I incorporated into Stapled Hills that made
            it unique. I wanted to tell a story without directly telling the
            story. Each graphic that was made for the brand was an addition to
            the consumers interpretation. From the combination of pixel art,
            deep meaning quotes, and otherworldly graphics. Stapled Hills was
            able to achieve its own identity.
          </p>
        </div>
        <div class="section-image">
          <img
            src="assets/images/stapledhills-brandidentity.jpg"
            (click)="enlargeImage($event)"
            alt="Tote bag created for Stapled Hills"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-wrapper section-left">
        <div class="section-text">
          <h5>Website Design</h5>
          <p>
            When the brand was made I was just starting my degree in web design.
            I didn’t have the skills at the time to custom develop my own theme
            on shopify so I saved up money and worked with a web designer to
            develop it for me. The design I made was very simple but effective
            and straight to the point. It simply displayed the clothing on the
            homepage with a video background behind them. I wanted a consumer to
            find the clothing easily and right away, while also having a unique
            experience. With each drop, I created a new website background to go
            with its theme.
          </p>
        </div>
        <div class="section-image">
          <img
            src="assets/images/stapledhills-website.jpg"
            (click)="enlargeImage($event)"
            alt="Stapled Hills website design"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-wrapper section-right">
        <div class="section-text">
          <h5>Marketing</h5>
          <p>
            I put some more thought into the social media side of marketing with
            Stapled Hills. Since the following was so small I was able to easily
            interact with consumers directly. I was more concerned about
            building a cult-like following rather than making money since this
            was just something to do for fun. To do this I hosted giveaways on
            instagram stories, gave discount codes to loyal customers, and
            created unique graphics and videos to go with each drop. This ended
            up being to my benefit because I had regular consumers buying every
            drop.
          </p>
        </div>
        <div class="section-image">
          <img
            src="assets/images/stapledhills-marketing.jpg"
            (click)="enlargeImage($event)"
            alt="Stapled Hills Instagram posts"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-wrapper section-left">
        <div class="section-text">
          <h5>Clothing Design Process</h5>
          <p>
            I had a certain process I followed to create each piece. This
            developed over time, but It included everything from the first ideas
            of the graphic to the promotional material used. First I would find
            references to the idea in my head. From that I would basically
            pixelate those references, clean them up myself, and send it to a
            pixel artist on Fiverr to finalize the design. I would also give the
            artist rough assets and drawings to create the video material as
            well. After the graphic side of things was done I would mockup the
            looks for instagram and the website.
          </p>
        </div>
        <div class="section-image">
          <img
            src="assets/images/stapledhills-clothing.jpg"
            (click)="enlargeImage($event)"
            alt="File organization for a Stapled Hills release"
          />
        </div>
      </div>
    </div>
  </div>
</section>
