<section class="section-wrapper" id="hero">
  <div class="hero-wrappers accessibility-wrapper">
    <h3>Accessibility</h3>
    <div class="hero-wrappers">
      <h3>Effectiveness</h3>
      <div class="hero-wrappers">
        <h3>Purpose</h3>
        <div class="hero-wrappers">
          <h3>Aesthetics</h3>
          <div class="hero-wrappers">
            <h3 id="selected-works">Selected Works</h3>
            <app-works></app-works>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
