<section class="section-wrapper hero">
  <div class="container">
    <div class="display-wrapper">
      <svg
        width="257"
        height="40"
        viewBox="0 0 257 40"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1 16.1474C56 14.0354 85.5 -16.8526 118.5 16.1474C151.5 49.1474 196.5 43.0354 236 16.1474M255.5 2.53539L248.5 17.0354L244 13.5354M255.5 2.53539L232 5.53539L238.5 9.53539M255.5 2.53539L241 11.5354M255.5 2.53539L238.5 9.53539M238.5 9.53539L239.5 16.0354M239.5 16.0354L244 13.5354M239.5 16.0354L241 11.5354M244 13.5354L241 11.5354"
          stroke="black"
        />
      </svg>
      <h1 class="hero-text">
        <div class="text-wrappers">
          <span>What I like to design:</span>
          <span>Digital platforms, logos, graphics, clothing</span>
        </div>
        <div class="text-wrappers">
          <span>Industries I’ve designed for:</span>
          <span
            >Arts & Culture, Banking & Finance, Real Estate, Manufacturing</span
          >
        </div>
      </h1>
    </div>
  </div>
</section>
