<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://github.com/blaze-smt/ntc-lego" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/ntclego-header.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://github.com/blaze-smt/ntc-lego" target="_blank"
            >NTC Lego</a
          ><span class="role"> - Front-end Developer / Designer</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          This was the capstone project for my associates degree at Northcentral
          Technical College. NTC Lego is a inventory management system used to
          manage inventory, orders, and sales. My role in this project was
          Front-end Developer and Designer. Our team consisted of 5 people, 4
          software developers and me as the lone web designer. Our instructor
          <a href="https://www.linkedin.com/in/dominicg/" target="_blank"
            >Dominic Gruetzmacher</a
          >
          held the roles of Product Manager and Client. We worked using Agile
          methodology and were able to finish the project in 5 sprints. A
          Stakeholder meeting and 5 report outs were conducted throughout the
          period of the class. Dominic was able to give us great insight on this
          application because he owns the biggest lego business in the United
          States. We had the chance to meet with his personal team that has a
          real life application extremely similar to this project. Blazor and
          ASP.Net were utilized as the stack for this application.
        </p>
      </div>
    </div>
  </div>
</section>
