<section class="contact-section">
  <div class="container">
    <div class="section-wrapper contact">
      <h2 class="contact-text">
        <span>Would you like to contact me?</span>
        <span
          >We can talk about <strong>anything.</strong> Work, life, your
          favorite song.<br /><i>I'm interested.</i></span
        >
      </h2>
      <a class="btn-contact" href="mailto:blazewaynesmith@gmail.com"
        ><span>LET'S CHAT</span><i>➔</i></a
      >
    </div>
  </div>
</section>
