@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
.contact-section .container {
  margin: 60px auto;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .btn-contact span {
    font-size: 2.5rem;
    margin-top: 60px;
  }
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
}

@media screen and (max-width: 258px) {
}
