<section id="templates">
  <div class="container">
    <div class="section-wrapper templates">
      <div class="templates-title">
        <h3>WEBSITE DESIGN TEMPLATES</h3>
        <ul class="filters">
          <li class="filter-item">
            <button
              class="filter-btn"
              type="button"
              id="filter-all"
              aria-controls="template-list"
              aria-label="Toggle all filter"
              (click)="filterProducts($event)"
              #filterBtnProducts
            >
              ALL
            </button>
          </li>
          <li class="filter-item">
            <button
              class="filter-btn"
              type="button"
              id="filter-portfolio"
              aria-controls="template-list"
              aria-label="Toggle websites filter"
              (click)="filterProducts($event)"
              #filterBtnProducts
            >
              PORTFOLIOS
            </button>
          </li>
          <li class="filter-item">
            <button
              class="filter-btn"
              type="button"
              id="filter-ecommerce"
              aria-controls="template-list"
              aria-label="Toggle clothing filter"
              (click)="filterProducts($event)"
              #filterBtnProducts
            >
              ECOMMERCE
            </button>
          </li>
          <!-- <li class="filter-item">
            <button
              class="filter-btn"
              type="button"
              id="filter-service"
              aria-controls="template-list"
              aria-label="Toggle logo filter"
              (click)="filterProducts($event)"
              #filterBtnProducts
            >
              SERVICES
            </button>
          </li> -->
        </ul>
      </div>
      <div class="template-wrapper">
        <div class="template-list" id="template-list">
          <a
            *ngFor="let product of filteredProducts"
            class="btn-a btn-special"
            routerLink="/{{ product.link }}"
          >
            <span>{{ product.name }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
