<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://github.com/blaze-smt/portfolio" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img
          src="assets/images/portfolio-header.jpg"
          alt="Portfolio landing page"
        />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://github.com/blaze-smt/portfolio" target="_blank"
            >This Portfolio</a
          ><span class="role"> - Web Designer / Developer</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Welcome to my portfolio website. I keep track of my creative projects
          here. It took a lot of trial and error to get to this point, but in
          the end im very happy with it and I think it represents me well.
          During the Summer of 2022 I had a personal goal of designing a mobile
          landing page everyday. I was able to do it for 5 months straight. This
          experience was good because my skills in mobile design were improved
          and it also got me more familiar with Figma. The last design I created
          for that project was a mobile view for this portfolio. I wasn’t sure
          if I wanted to take the work of redoing my portfolio over again, but I
          liked that little mockup so much I had to do it. This final version
          was spontaneously started on August 13th, 2022.
        </p>
      </div>
    </div>
  </div>
</section>
