<section class="section-wrapper hero" id="books">
  <div class="container">
    <div class="books-wrapper">
      <h3>BOOKS I READ</h3>
      <p class="subheading">
        Writings that have had the greatest influence on me
      </p>
      <h5>/Self improvement</h5>
      <div class="book-list">
        <a
          *ngFor="let book of selfImprovement"
          class="book-link"
          href="{{ book.link }}"
          target="_blank"
        >
          <span>{{ book.name }}</span>
        </a>
      </div>
      <h5>/Creativity</h5>
      <div class="book-list">
        <a
          *ngFor="let book of creativity"
          class="book-link"
          href="{{ book.link }}"
          target="_blank"
        >
          <span>{{ book.name }}</span>
        </a>
      </div>
      <h5>/Spiritual</h5>
      <div class="book-list">
        <a
          *ngFor="let book of spiritual"
          class="book-link"
          href="{{ book.link }}"
          target="_blank"
        >
          <span>{{ book.name }}</span>
        </a>
      </div>
      <h5>/Financial</h5>
      <div class="book-list">
        <a
          *ngFor="let book of financial"
          class="book-link"
          href="{{ book.link }}"
          target="_blank"
        >
          <span>{{ book.name }}</span>
        </a>
      </div>
    </div>
  </div>
</section>
