<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://www.facebook.com/bohlmanautoaesthetics" target="_blank"
        >Link</a
      >
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/bohlmanaa-header.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a
            href="https://www.facebook.com/bohlmanautoaesthetics"
            target="_blank"
            >Bohlman Auto Aesthetics</a
          ><span class="title"> - Web Designer / Logo Designer</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Bohlman Auto Aesthetics is a local Wisconsin business owned by a close
          friend. I worked with him to make the logo and I sketched it up in
          Adobe Illustrator. We have plans for a website to be created in
          Wordpress for mid December, 2022.
        </p>
      </div>
    </div>
  </div>
</section>
