<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a routerLink="/">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img src="assets/images/bohlmanaa-header.jpg" />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a
            href="https://www.facebook.com/bohlmanautoaesthetics"
            target="_blank"
            >Bohlman Auto Aesthetics</a
          >
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Bohlman Auto Aesthetics is a local Wisconsin business owned by a close
          friend. I worked with him to make the logo and I sketched it up in
          Adobe Illustrator. We have plans for a website to be created in
          Wordpress for mid December, 2022.
        </p>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div class="section-wrapper section-right">
        <div class="section-text">
          <h5>Logo Design</h5>
          <p>
            The client approached me around October, 2022 asking if I had skills
            in Adobe Photoshop and Illustrator since he knew I had taken graphic
            design classes. I asked him why and he said that he needed a
            professional logo for his business and he was going to do it
            himself. I offered him my service because I wanted something to put
            on my portfolio. I created his logo in Illustrator by hand. I worked
            closely with Colton on specifics of what he was looking for, and I
            gave him a few variations to choose from.
          </p>
        </div>
        <div class="section-image">
          <img src="assets/images/bohlmanaa-logo.jpg" />
        </div>
      </div>
    </div>
  </div>
</section>
