<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a href="https://bohlmanauto.com/" target="_blank">Link</a>
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img
          src="assets/images/bohlmanaa-header.jpg"
          alt="Bohlman Auto Aesthetics logo"
        />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a href="https://bohlmanauto.com/" target="_blank"
            >Bohlman Auto Aesthetics</a
          ><span class="role"> - Web Designer / Logo Designer</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          Bohlman Auto Aesthetics is a local Wisconsin business that offers a
          variety of vehicle related services. I worked closely with the client
          to figure out business needs and expectations. The logo was created in
          Adobe Illustrator and the website was made in Wordpress.
        </p>
      </div>
    </div>
  </div>
</section>
