<section>
  <div class="container">
    <div class="section-wrapper bio">
      <div class="bio-text">
        <h3>BIO</h3>
        <p>
          i am a student currently attending northcentral technical college in
          wausau, wi. my major is web design and i plan to continue my education
          at uw-milwaukee for information science & technology starting spring
          2023. my creative side comes from my love for clothing and art. to be
          honest i hate writing about myself. instead of reading this go look at
          my work. i have a cool side to me that only myself and a select few
          see. i was hoping this website could change that.
        </p>
      </div>
      <img class="bio-image" src="assets/images/side-profile.png" />
    </div>
  </div>
</section>
