@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.bio {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  .bio-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 60px 60px 0 0;
    max-width: 550px;
    p {
      text-transform: uppercase;
    }
  }
  .bio-image {
    width: auto;
    height: 50vh;
    max-height: 750px;
  }
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
  .bio {
    .bio-text {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
  .bio {
    .bio-text {
      margin-bottom: 2.5rem;
    }
    .bio-image {
      margin: 0;
      height: auto;
      width: 100%;
    }
  }
}

@media screen and (max-width: 258px) {
}
