<section id="bio">
  <div class="container">
    <div class="section-wrapper bio">
      <div class="bio-text">
        <h3>BIO</h3>
        <p>
          I am 22 years old and currently based out of Milwaukee, WI. I just got
          my associates for web design in December 2022. My university schooling
          starts in Spring 2023 at the University of Wisconsin-Milwaukee for a
          degree in Information Science & Technology. My goal in 5 years is to
          achieve enough experience to start my own web design agency. On top of
          my graphic design skills I was taught front-end development which
          exposed me to a variety of different programming languages and
          frameworks.
        </p>
      </div>
      <img class="bio-image" src="assets/images/side-profile.png" />
    </div>
  </div>
</section>
