<section id="bio">
  <div class="container">
    <div class="section-wrapper bio">
      <div class="bio-text">
        <h3>About</h3>
        <p>
          I am an Oneida citizen and first-descendant of the Stockbridge-Munsee
          Mohican Tribal Nation. My schooling at UW-Milwaukee ends in Fall 2024
          for a Bachelor’s in Information Science and Technology. Web design is
          what I studied at Northcentral Technical College in Wausau, WI, where
          I graduated with an associate’s degree. While studying full-time, I'm
          also interning at Associated Bank, working under the Innovation &
          Design team working alongside Senior UX Designers. On the side, I work
          as a web designer through independent contracts. Currently, I am based
          out of Milwaukee, WI.
        </p>
      </div>
      <img
        class="bio-image"
        src="assets/images/blaze-profile.webp"
        alt="Sitting in apartment"
      />
    </div>
  </div>
</section>
