<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a
        href="https://dribbble.com/shots/20645762--TEMPLATES-VINTAGE-HTML"
        target="_blank"
        >Link</a
      >
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img
          src="assets/images/vintage-header.jpg"
          alt="Desktop vintage store landing page design"
        />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a
            href="https://dribbble.com/shots/20645762--TEMPLATES-VINTAGE-HTML"
            target="_blank"
            >Vintage eCommerce Store</a
          >
        </h1>
      </div>
      <div class="desc-p">
        <p>
          An eCommerce clothing store that lists products, events, and contact
          information in a contemporary way that also captures user attention.
          This design highlights products with featured elements and also
          informs the user of product recommendations.

          <br /><br />
          This template is available for development within the Shopify
          eCommerce system. Any personal style changes or edits can be discussed
          and worked on with me.
          <a href="mailto:blazewaynesmith@gmail.com">Contact me</a> to discuss
          hourly rates. <br /><br />More specifics about this design are on my
          <a
            href="https://dribbble.com/shots/20645762--TEMPLATES-VINTAGE-HTML"
            target="_blank"
            >Dribbble</a
          >
        </p>
        <app-contact-small></app-contact-small>
      </div>
    </div>
  </div>
</section>
