<header class="header-project">
  <div class="container">
    <div class="mobile-links">
      <a routerLink="/">Go back</a>
      <a
        href="https://dribbble.com/shots/20645762--TEMPLATES-VINTAGE-HTML"
        target="_blank"
        >Link</a
      >
    </div>
  </div>
  <div class="seperator-mobile"></div>
  <div class="container project">
    <div class="title-wrapper">
      <div class="landing-image">
        <img
          src="assets/images/vintage-header.jpg"
          alt="Desktop vintage store landing page design"
        />
      </div>
    </div>
  </div>
</header>
<section class="project-content">
  <div class="container">
    <div class="section-wrapper desc">
      <div class="desc-title">
        <h1>
          <a
            href="https://dribbble.com/shots/20645762--TEMPLATES-VINTAGE-HTML"
            target="_blank"
            >Vintage eCommerce Store</a
          ><span class="role"> - Web Designer</span>
        </h1>
      </div>
      <div class="desc-p">
        <p>
          An eCommerce clothing store that lists products, events, and contact
          information in a contemporary way that also captures user attention.
          This design highlights products with featured elements and also
          informs the user of product recommendations.
          <br /><br />
          You can find the live Figma prototype links here:<br />
          <a
            target="_blank"
            href="https://www.figma.com/proto/P9ri8yNYPFSZY5JwXoHwW5/005.Prototype?page-id=0%3A1&node-id=8-425&viewport=503%2C190%2C0.11&scaling=min-zoom&starting-point-node-id=8%3A425&show-proto-sidebar=1"
            >Desktop</a
          ><br />
          <a
            target="_blank"
            href="https://www.figma.com/proto/P9ri8yNYPFSZY5JwXoHwW5/005.Prototype?page-id=0%3A1&node-id=8-940&viewport=503%2C190%2C0.11&scaling=min-zoom&starting-point-node-id=8%3A940&show-proto-sidebar=1"
            >Mobile</a
          >
        </p>
        <app-contact-small></app-contact-small>
      </div>
    </div>
  </div>
</section>
