@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.section-wrapper.social-media {
  padding: 0;
}

.social-media {
  display: flex;
  justify-content: center;
  margin: 0;
  .icon-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: -36px;
  }
  .social-media-icons {
    margin: 25px 36px;
    cursor: pointer;
    path,
    circle {
      fill: #232323;
      transition: all ease-in-out 150ms;
    }
  }
  a:hover {
    .social-media-icons {
      path,
      circle {
        fill: url("#radial");
      }
    }
  }
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
  .social-media {
    justify-items: center;
    .icon-wrapper {
      margin: 0;
      justify-content: center;
    }
    .social-media-icons {
      margin: 25px 26px;
    }
  }
}

@media screen and (max-width: 258px) {
}
