@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.testimonial-wrapper {
  margin: 2rem 0;
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.testimonial-review {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.testimonial-image {
  max-height: 100px;
  max-width: 100px;
  border-radius: 100px;
  filter: grayscale(100%);
}

.testimonial-text-wrapper {
  display: flex;
  flex-direction: column;
}

.testimonial-name {
  font-size: 2rem;
}

.testimonial-review {
  font-size: 1.25rem;
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
  .testimonial-review {
    flex-direction: column;
  }
}

@media screen and (max-width: 258px) {
}
