@import "./assets/css/fonts/_cabinet-grotesk";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: CabinetGrotesk-Variable;
}

html {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-size: 20 px;
  scroll-behavior: smooth;
  border: 1px solid #232323;
  background-color: #e6e8e6;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  background-color: #e6e8e6 !important;
}

main {
  display: block;
}
