@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

#works {
  border: none;
}

.works {
  display: flex;
  flex-direction: column;
  padding: 5.75rem 0;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 6.5rem;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 1.8s;
  background-color: #fff;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.project-services {
  font-size: 1.25rem;
}

.project-heading {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  z-index: 2;
  mix-blend-mode: difference;
  color: #fff;
}

.project-image {
  max-width: 342px;
  margin-top: -2.2rem;
}

.project-link {
  margin: 1rem 0;
  position: relative;
  color: #232323;
  text-decoration: none;
  font-size: 1.25rem;
  cursor: none;
  i {
    font-style: normal;
    font-size: 48px;
    vertical-align: middle;
    margin-left: 6px;
  }
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    bottom: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    background: #232323;
    transition: width ease-in-out 65ms;
  }
  &:hover,
  &:active {
    color: transparent;
    background: radial-gradient(
      rgba(92, 120, 150, 100),
      rgba(48, 111, 178, 0.6),
      rgba(34, 107, 184, 0.43),
      rgba(92, 120, 150, 0.33)
    );
    background-clip: text;
    &::after {
      width: 0;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
  .project-services {
    // font-size: 1rem;
  }

  .project-heading {
    font-size: 2rem;
  }

  .project-image {
    max-width: 140px;
    margin-top: -1rem;
  }
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
}

@media screen and (max-width: 258px) {
}
