<section class="section-works">
  <div class="container works">
    <div class="works-wrapper">
      <div class="works-title">
        <h3>WORKS</h3>
        <div class="filter-wrapper">
          <ul class="filters">
            <li class="filter-item">
              <button class="filter-btn">ALL</button>
            </li>
            <li class="filter-item">
              <button class="filter-btn">WEBSITES</button>
            </li>
            <li class="filter-item">
              <button class="filter-btn">CLOTHES</button>
            </li>
            <li class="filter-item">
              <button class="filter-btn">OTHER</button>
            </li>
          </ul>
        </div>
      </div>
      <div class="projects-wrapper">
        <div class="projects-list">
          <a class="project-bubble">THIS PORTFOLIO</a>
          <a class="project-bubble">STAPLED HILLS</a>
          <a class="project-bubble">INFST</a>
          <a class="project-bubble">MY FIGMA</a>
          <a class="project-bubble">BOHLMAN AA</a>
        </div>
      </div>
    </div>
  </div>
</section>
