@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.works {
  display: flex;
  flex-direction: column;
  .filters {
    position: relative;
    display: flex;
    padding-left: 0;
    translate: -14px;
    :not(:last-child) {
      &::after {
        position: absolute;
        content: "/";
        top: 5px;
      }
    }
    .filter-item {
      list-style-type: none;
      .filter-btn {
        position: relative;
        color: #232323;
        font-size: 20px;
        margin: 0 0.7rem;
        border: none;
        background: none;
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          bottom: -4px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 0%;
          background: #232323;
          transition: width ease-in 100ms;
        }
        &:hover,
        &:active {
          &::after {
            width: 90%;
          }
        }
      }
      .active {
        font-weight: 700;
      }
    }
  }
  .projects-wrapper {
    width: 100%;
    margin-top: 36px;
    .projects-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}

@media screen and (min-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // >=1400px
}

@media screen and (min-width: 1900px) {
  // >= 1900px
}

@media screen and (min-width: 2500px) {
  // >=2500px
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
  .works {
    .filters {
      translate: -4px;
      :not(:last-child) {
        &::after {
          top: 1px;
        }
      }
      .filter-item {
        .filter-btn {
          font-size: 16px;
          margin: 0 0.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 258px) {
}
