.works {
  display: flex;
  flex-direction: column;
  .filters {
    position: relative;
    display: flex;
    padding-left: 0;
    translate: -14px;
    :not(:last-child) {
      &::after {
        position: absolute;
        content: "/";
        top: 5px;
      }
    }
    .filter-item {
      list-style-type: none;
      .filter-btn {
        position: relative;
        color: #232323;
        font-size: 20px;
        margin: 0 0.7rem;
        border: none;
        background: none;
        &::after {
          content: "";
          position: absolute;
          height: 2px;
          bottom: -4px;
          margin: 0 auto;
          left: 0;
          right: 0;
          width: 0%;
          background: #232323;
          transition: width ease-in 100ms;
        }
        &:hover,
        &:active {
          &::after {
            width: 90%;
          }
        }
      }
      .active {
        font-weight: 700;
      }
    }
  }
  .projects-wrapper {
    width: 100%;
    margin-top: 36px;
    .projects-list {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
