<section id="works">
  <div class="works">
    <div class="projects-wrapper">
      <div class="projects-list" *ngIf="worksData">
        <div class="project-wrapper" *ngFor="let work of worksData">
          <span class="project-services">{{ work.services.join(", ") }}</span>
          <span class="project-heading">{{ work.name }}</span>

          <a [href]="work.link"
            ><img
              class="project-image"
              *ngIf="work.thumbnail.src"
              [src]="work.thumbnail.src"
              [alt]="work.thumbnail.alt"
          /></a>
          <a class="project-link" href="{{ work.link }}">View project</a>
        </div>
      </div>
    </div>
  </div>
</section>
