<section>
  <div class="container">
    <div class="section-wrapper works">
      <div class="works-title">
        <h3>WORKS</h3>
        <ul class="filters">
          <li class="filter-item">
            <button class="filter-btn">ALL</button>
          </li>
          <li class="filter-item">
            <button class="filter-btn">WEBSITES</button>
          </li>
          <li class="filter-item">
            <button class="filter-btn">CLOTHES</button>
          </li>
          <li class="filter-item">
            <button class="filter-btn">OTHER</button>
          </li>
        </ul>
      </div>
      <div class="projects-wrapper">
        <div class="projects-list">
          <a class="btn-a btn-special"><span>THIS PORTFOLIO</span></a>
          <a class="btn-a btn-special"><span>STAPLED HILLS</span></a>
          <a class="btn-a btn-special"><span>INFST</span></a>
          <a class="btn-a btn-special"><span>MY FIGMA</span></a>
          <a class="btn-a btn-special"><span>BOHLMAN AA</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
