@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

.project {
  margin: 6em 0 0 0;
  border: none;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border-bottom: 1px solid #232323;
  padding: 0 1rem 1rem 1rem;
}

.heading-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
  max-width: 50%;
}

.services {
  font-size: 1.5rem;
}

.heading {
  font-size: 4rem;
  text-transform: uppercase;
}

.link {
  font-size: 1.5rem;
}

.desc {
  font-size: 1.25rem;
  padding: 1rem 0 0 0;
  a {
    color: #232323;
    &:hover {
      color: blue;
      text-decoration: none;
    }
  }
}

.thumbnail-wrapper {
  max-width: 50%;
}

.thumbnail {
  max-width: 100%;
}

#problem-section {
  border-bottom: 1px solid #232323;
}

.project-section-wrapper {
  margin: 1rem 0 1rem 0;
  padding: 0 1rem;
}

.section-text {
  padding: 0 0 2rem 0;
  .heading {
    text-transform: none;
  }
  .desc {
    padding: 0;
  }
}

.images-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  img {
    max-width: 100%;
    max-height: 424px;
    height: 100%;
    border: 1px solid #232323;
  }
}

@media screen and (max-width: breakpoint-min(xxl, $grid-breakpoints)) {
  // <1400px
}

@media screen and (max-width: 1250px) {
  // <= 1250px
}

@media screen and (max-width: breakpoint-min(xl, $grid-breakpoints)) {
  // <1200px
  .heading-wrapper {
    flex-direction: column;
  }

  .heading-text,
  .thumbnail-wrapper {
    max-width: 100%;
  }
}

@media screen and (max-width: breakpoint-min(lg, $grid-breakpoints)) {
  // <992px
}

@media screen and (max-width: breakpoint-max(md, $grid-breakpoints)) {
  // <768px
  .heading {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: breakpoint-min(sm, $grid-breakpoints)) {
  // <576px
  .heading-text {
    gap: 0.5rem;
  }

  .heading {
    font-size: 9vw;
  }

  .services,
  .link {
    font-size: 1rem;
  }

  .desc {
    font-size: 1rem;
  }
}

@media screen and (max-width: 258px) {
}
